<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Welcome to Eventful Brighton, where we bring you notable stories and events from in and around Brighton.</p>

    <p>If you want to keep your finger on the pulse in Brighton or you want to know what’s happening in Brighton from afar, then you’re in the right place. Come with me as I get under the skin of Brighton, it’s people, it’s places and it’s events.</p>
  </div>

  <div class="sidebar-module">
    <h4>Subscribe to the podcast</h4>
      <ol class="list-unstyled">
        <li><a href="https://geo.itunes.apple.com/gb/podcast/eventful-brighton/id254412785?mt=2" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:165px;height:40px;" target="_blank"></a></li>
        <li><a href="http://feeds.feedburner.com/EventfulBrighton" title="Subscribe to the podcast feed" rel="alternate" type="application/rss+xml" target="_blank"><img src="//feedburner.google.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a></li>
      </ol>
  </div>

  <div class="sidebar-module">
    <h4>Tags</h4>
    <ol class="list-unstyled">
      {% for tag in site.tags %}
      <li><a href="/tag/{{ tag | first | slugify }}">{{ tag | first }}</a></li>
      {% endfor %}
    </ol>
  </div>

</div><!-- /.blog-sidebar -->
